body{
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat,  url("../imagenes/games.jpg") center top, #181A21;
}


.form {
    display: flex;
    max-width: 40vw;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    background: rgba(13, 14, 13, 0.7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.form h2 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.form label {
    display: block;
    margin-top: 10px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #fff;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid rgba(13, 14, 13, 0.5);
    outline: none;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    height: 30px;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="checkbox"]{
    width: 2vw;
    display: inline;
}
.terminos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminos label {
    margin: 0;
    display: inline;
}


@media (max-width: 600px) {
    form {
        max-width: 100%;
        padding: 10px;
    }
}